
<span class="badge rounded-pill bg-primary">
    <a href="#" class="text-dark text-decoration-none">
        Data Science
    </a>
</span>



<span class="badge rounded-pill bg-danger">
    <a href="#" class="text-dark text-decoration-none">
        Computer Science
    </a>
</span>



<span class="badge rounded-pill bg-success">
    <a href="#" class="text-dark text-decoration-none">
        Algorithms
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Statistics
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Action and Adventure
    </a>
</span>



<span class="badge rounded-pill bg-success">
    <a href="#" class="text-dark text-decoration-none">
        Classics
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Comic Book or Graphic Novel
    </a>
</span>



<span class="badge rounded-pill bg-success">
    <a href="#" class="text-dark text-decoration-none">
        Comic Book or Graphic Novel
    </a>
</span>



<span class="badge rounded-pill bg-danger">
    <a href="#" class="text-dark text-decoration-none">
        Fantasy
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Historical Fiction
    </a>
</span>



<span class="badge rounded-pill bg-info">
    <a href="#" class="text-dark text-decoration-none">
        Horror
    </a>
</span>



<span class="badge rounded-pill bg-info">
    <a href="#" class="text-dark text-decoration-none">
        Literary Fiction
    </a>
</span>



<span class="badge rounded-pill bg-success">
    <a href="#" class="text-dark text-decoration-none">
        Romance
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Science Fiction (Sci-Fi)
    </a>
</span>



<span class="badge rounded-pill bg-primary">
    <a href="#" class="text-dark text-decoration-none">
        Short Stories
    </a>
</span>



<span class="badge rounded-pill bg-info">
    <a href="#" class="text-dark text-decoration-none">
        Suspense and Thrillers
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Women&#39;s Fiction
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Biographies and Autobiographies
    </a>
</span>



<span class="badge rounded-pill bg-info">
    <a href="#" class="text-dark text-decoration-none">
        Cookbooks
    </a>
</span>



<span class="badge rounded-pill bg-danger">
    <a href="#" class="text-dark text-decoration-none">
        Essays
    </a>
</span>



<span class="badge rounded-pill bg-success">
    <a href="#" class="text-dark text-decoration-none">
        History
    </a>
</span>



<span class="badge rounded-pill bg-danger">
    <a href="#" class="text-dark text-decoration-none">
        Memoir
    </a>
</span>



<span class="badge rounded-pill bg-success">
    <a href="#" class="text-dark text-decoration-none">
        Poetry
    </a>
</span>



<span class="badge rounded-pill bg-warning">
    <a href="#" class="text-dark text-decoration-none">
        Self-Help
    </a>
</span>



<span class="badge rounded-pill bg-success">
    <a href="#" class="text-dark text-decoration-none">
        True Crime
    </a>
</span>
