<div class="container-fluid bg-primary text-dark p-2 mt-4 rounded">
    <div class="container bg-primary rounded p-5">
        <h1><b>
            Book Mall
        </b></h1>
        <p>
            This resource contains over 50K books. (ᵔ◡ᵔ)
        </p>
        <a class="btn btn-secondary btn-lg" href="#" role="button">
            Learn more
        </a>
    </div>
</div>
