.my_accent {
    background-color: #e3f2fd;
}

.card-img-top {
    width: auto;
    height: 200px;
    object-fit: contain;
}

.item_text {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.bg-dark {
    background-color: #20c997 !important;
    color: #20c997;
}
